$color-brand: rgb(242, 120, 92);
$color-brand-transparent: rgba(242, 118, 90, 0.70);
$color-slide-transporent: rgba(242, 120, 92, 0.5);
$color-additional: #0d606f;
$color-additional-transporent: rgba(13, 96, 111, 0.5);
$color-light: rgb(255, 255, 255);
$color-stories: rgba(255, 255, 255, 0.7);;

$gap-slider: 60px;
$width-img-slider: 800px;
$height-img-slider: 800px;

$content-width: 1200px;
$login_container: 560px;
$laptop-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;