@mixin media-laptop {
    @media (max-width: $laptop-width) { @content; }
}
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}
@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}


// ------------------- text optimization ----------------------


$maxWidth: 1200;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;

    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
        line-height: calc((#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})) * 1.3);
    }

    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
        line-height: calc((#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})) * 1.3);
    }
    @media (min-width: 1200px) {
        font-size: #{$pcSize + px};
        line-height: calc(#{$pcSize + px} * 1.3);
    }
}


